<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My test page</title>
    </head>
    <body>
        {{content}}
     
      <ol>
         {% for posts in site.category.society%}
        <li>
          <p><a href="{{post.url}}">{{post.title}}</a></p>
        </li>
      </ol>
        {% else %}
        The code is running but you messed up again
       {% endfor %}
    </body>
</html>
